@import url('reset.css');
body {
	background-image: url('../images/bg-full.jpg');
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.clear {
	clear: both;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	display: block;
	position:relative;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	display: block;
	position:relative;
	background-color: #fff;
}
/*-------------------- header */
header {
	height: 60px;
	width: 100%;
	position: relative;
	background: -webkit-linear-gradient(top,#016ca0, #05a7fc);
	background: -o-linear-gradient(top,#016ca0, #05a7fc);
	background: -moz-linear-gradient(top,#016ca0, #05a7fc);
	background: linear-gradient(to bottom,#016ca0, #05a7fc);
}
.logo{
	width: 190px;
	height: 160px;
	display: block;
	float:left;
	position: absolute;
	left: 21px;
}
header ul {
	list-style-image: url('../images/bullet-menu-header.jpg');
	position: absolute;
	right: 111px;
	color: #fff;
}
header ul li {
	border-left: solid 1px #fff;
	display: inline-block;
	height: 60px;
	width: 135px;
	margin-left: -5px;

}
header ul li:hover {
	width: 135px;
	background: -webkit-linear-gradient(top,#05235f, #0781c0);
	background: -o-linear-gradient(top,#05235f, #0781c0);
	background: -moz-linear-gradient(top,#05235f, #0781c0);
	background: linear-gradient(to bottom,#05235f, #0781c0);
}
header ul li a {
		color: #fff;
	font-size: 14px;
	display: block;
	text-decoration: none;
	line-height: 60px;
	text-align: center;
}
.menu-header-first {
	border-left: solid 0px;
}
.social-media {
	height: 60px;
	width: 60px;
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
}
.sm-item p {
	font-size: 11px;
	text-align: center;
}
.facebook{
	width: 24px;
	height: 27px;
	margin: 0 auto;
	overflow: hidden;
}
.header-slogan {
	color: #fff;
	position: absolute;
	top: 60px;
	height: 43px;
	width: 100%;
	background-color: #b8b8b8;
	text-align: center;
	z-index: -123;
	line-height: 43px;
}

/*--------slideshow        */
.slide-show {
	width: 1000px;
	height: 426px;
	display: block;
	overflow: hidden;
}
/*--------------End header*/

/*--------------Main Content*/
.main-content {
	height: 313px;
	width: 100%;
	display: block;
	background-color: #e8e2e2;
	position: relative;
}
.main-page {
	background-color: #fff;
	height: 320px;
	padding-top: 60px;
}
.slogan {
	height: 40px;
	background: -webkit-linear-gradient(top,#016ca0, #05a7fc);
	background: -o-linear-gradient(top,#016ca0, #05a7fc);
	background: -moz-linear-gradient(top,#016ca0, #05a7fc);
	background: linear-gradient(to bottom,#016ca0, #05a7fc);
	box-shadow: 0 10px 20px #888;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
.slogan h1 {
	color: #fff;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
}
.slogan img {
	width: 50%;
	padding-top: 20px;
}
.content {
	margin-top: 100px;
	width: 700px;
	margin: 0 auto;
	display: block;
	color: #04a4f8
}
.content h2 {
	font-size: 30px;
	font-weight: bold;
	margin:20px 0;
}
.content div {
	display: block;
	border: solid 1px;
}
.content div p {
	color: #918f90;
	margin: 30px;
}
/*--------------End Main Content*/

/*--------------Footer          */
footer {
	height: 100px;
	width: 100%;
	background-color: #918f90;
	position: relative;
}
footer p {
	color: #fff;
	font-size: 12px;
}
.info {
	position: absolute;
	top: 20px;
	left: 25px;
}
/*--------------End Footer      */

/*--------------Financiero      */
.actividades {
	float: right;
}
.item{
	float: left;
	margin-bottom: 50px;
}
.item-imagen{
	height: 121px;
	width: 121px;
	overflow: hidden;
	float: left;
	border-radius: 300px;
	border: 3px solid #0385ff;
	margin-left: 35px;
	margin-right: 35px;
}
.item-imagen img {
	height: 100%;
	width: 100%;
	float: left;
}
.item-content{
	border-left: solid 2px #9d9d9d;
	color: #020202;
	float: left;
	padding-left: 20px;
	height: 160px;
	width: 750px;
}
.item-content h3 {
	color: #0186ff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

/*--------------End Financiero  */